<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<title>Customer Management System</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">

</head>

<body>

	<div class="container">
		<div class="row col-md-8 offset-md-2">
			<div class="card">
				<div th:if="${param.success}">
					<div class="alert alert-info">You've successfully registered
						in contact us!</div>
				</div>
				<div class="card-header">
					<h2 class="text-center">Registration</h2>
				</div>
				<div class="card-body">
					<form method="post" role="form" th:action="@{/saveEmployee}"
						th:object="${user}">

						<div class="form-group mb-3">
							<label class="form-label">Name</label> <input
								class="form-control" id="firstName" name="firstName"
								placeholder="Enter first name" th:field="*{firstName}"
								type="text" />
							<p th:errors="*{firstName}" class="text-danger"
								th:if="${#fields.hasErrors('firstName')}"></p>
						</div>

						<div class="form-group mb-3">
							<label class="form-label">Mobile No</label> <input
								class="form-control" id="lastName" name="lastName"
								placeholder="Enter last name" th:field="*{lastName}" type="text" />
							<p th:errors="*{lastName}" class="text-danger"
								th:if="${#fields.hasErrors('lastName')}"></p>
						</div>
						<div class="form-group mb-3">
							<label class="form-label">Email</label> <input
								class="form-control" id="email" name="email"
								placeholder="Enter email address" th:field="*{email}"
								type="email" />
							<p th:errors="*{email}" class="text-danger"
								th:if="${#fields.hasErrors('email')}"></p>
						</div>
						<div class="form-group mb-3">
							<label class="form-label">message</label> <input
								class="form-control" id="password" name="password"
								placeholder="Enter password" th:field="*{password}"
								type="password" />
							<p th:errors="*{password}" class="text-danger"
								th:if="${#fields.hasErrors('password')}"></p>
						</div>

						<div class="form-group mb-3">
							<button class="btn btn-primary" type="submit">Register</button>
							<span>Already registered? <a href="/" th:href="@{/login}">Login
									here</a></span>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
