<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Employee Management System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h1>Customer Management System</h1>
        <hr>
        <h2>Save Details</h2>
        
        <h3 th:text="${message}"> </h3>

        <form action="#" th:action="@{/saveEmployee}" th:object="${employee}" method="POST">
         

            <input type="text" th:field="*{Name}" placeholder="Name" class="form-control mb-4 col-4">

            <input type="text" th:field="*{mail}" placeholder="mail" class="form-control mb-4 col-4">
            
              <input type="tel" th:field="*{Number}" pattern="[0-9]{10}" maxlength="10" class="form-control mb-4 col-4" placeholder="Number"  required />
               <span th:if="${#fields.hasErrors('Number')}" th:errors="*{Number}" class="error-message"></span>
              <span th:if="${not #fields.hasErrors('Number')}"> </span>  
              
            
              <textarea  type="text" th:field="*{Message}" placeholder="Message" class="form-control mb-4 col-4"></textarea><br>
             

            <button type="submit" class="btn btn-info col-2"> Save Employee</button>
            
        </form>

        <hr>

        <a th:href="@{/listAllEmployees}"> Back to Employees List</a>
    </div>
</body>

</html>